{% extends "base.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %}Awesome hompage!{% endblock %}

{% block header %}{% endblock %}

{% block main %}
  <h1>Index</h1>
  <p>
    Welcome on my awesome homepage.
  </p>
{% endblock %}

{% block footer %}{% endblock %}